[2015-11-02 12:00] trodrigues opened #10 "Content types only"
As in the clone-space.js script in contentful-management, this should have a content types only option.

[2015-11-02 12:01] trodrigues opened #11 "Configure host and port"
To allow usage with preview.contentful.com

[2015-11-03 12:03] skddc commented on #10
This would be immensely helpful to us.

[2015-11-04 16:20] skddc opened #13 "Array.filter is not a function"
[code]

This happens both with the installed binary from npm as well as when running `node dist/space-sync.js` directly.

[2015-11-04 16:22] skddc commented on #13
Uh, when I use `babel-node` to run `dist/space-sync.js` it fails with a different error, which is rather weird:

[code]

It tries to *delete* the default locale when *getting* the source space?!

[2015-11-06 09:35] trodrigues commented on #13
Hi there,

regarding the first issue, what version of node are you running this on?

As for the second, api.contentful.com is used only to send data to the destination space. Is nwszylcdhgm6 the ID of the space you are using as the source space?

Also, I see you've pasted the whole URL including the access_token, which if this is the management token is probably not a good idea to have it out in t

[2015-11-06 09:41] skddc commented on #13
v5.0.0

Ah, you're right. That was destination space.

Ugh, I will probably never get used to the fact that you use access tokens as URL params, so they're visible everywhere you can see requests. Thanks for the hint, already deleted.

[2015-11-06 10:37] trodrigues commented on #13
Right! That's out! I think I haven't tested it yet on that version, so I'll give it a try. There might be some not obvious weirdness with ES6 and the compiled babel code.

So what happens essentially is, as we don't get the locales and content types via the sync endpoint, we don't know exactly which ones were deleted and/or updated. So what the script does is, it gets all the CTs/locales on the so

[2015-11-06 11:14] skddc commented on #13
I'm not sure anymore. I did fix a locale issue afterwards where en-US was set as default for a space that was supposed to use sth else, so that should be the explanation then.

The delivery JS client does this as well, and it'd be great to change it there, too. ;)

[2015-11-06 13:14] SMillerDev commented on #13
I have the same issue so I thought I'd post some more log that I get to hopefully make debug eassier.

Let's sync some content across spaces!

  Synchronizing fresh content from bu3jhz3mxna4 to 9ekxodx7z4ou

ERR! Failed with
 TypeError: Array.filter is not a function
ERR! Failed with
     at filterType (/usr/local/lib/node_modules/contentful-space-sync/dist/get/get-source-space.js:69:16)
ERR! Fail

[2015-11-06 13:28] #13 closed

[2015-11-06 13:30] trodrigues commented on #13
Essentially this was due to babel-polyfill not being included, and I wrongly assumed the babel compiler would take care of that for me.

Issue is fixed in 1.2.1, just released.

[2015-11-06 13:30] skddc commented on #13
Thanks!

[2015-11-09 11:21] trodrigues opened #16 "Handle 503s"
Wait and retry

[2015-11-09 12:19] trodrigues opened #17 "Validations are not synchronized"

[2015-11-13 15:00] #10 closed

[2015-11-13 16:03] trodrigues commented on #17
Fixed by #bbae4e421f153539af93330e9d544c3a7fac632d

[2015-11-13 16:03] #17 closed

[2015-11-17 14:09] SMillerDev opened #30 "TypeError: Cannot read property 'sys' of undefined"
I have this config file:
[code]

Which gives the following error:
[code]

Which seems to be an error in the library

[2015-11-17 14:49] trodrigues commented on #30
Hi there,

would you mind trying version 2.1.1 and seeing if the output is any different? I've released an updated version of contentful-management which improves error handling and should give you a better idea of what the actual problem is in this case.

[2015-11-17 14:52] SMillerDev commented on #30
Error is now: (not sure if it changed)

[code]

[2015-11-17 14:56] trodrigues commented on #30
That seems to be the same. Can you force the installation of contentful-space-sync 2.1.1 with `npm install -g contentful-space-sync@2.1.1` ?

After that, check if the file /usr/local/lib/node_modules/contentful-space-sync/node_modules/contentful-management/package.json has a line `"version": "0.6.0"`

[2015-11-17 15:02] SMillerDev commented on #30
I forced the update, this results in the following:
[code]

[2015-11-17 15:28] trodrigues commented on #30
Ok, this is very helpful. Essentially what's happening here is that when you are synchronizing to a space where you've synchronized before, the script will try to check if any content already exists there to use the appropriate versions when updating.

However, the request for the existing content should be split in multiple requests due to limitations in the size of URLs accepted by servers. In t

[2015-11-17 18:02] #30 closed

[2015-11-17 18:15] trodrigues commented on #30
Hi there,

version 2.1.2 was just released which should fix this problem.

Let me know how it works out.

[2015-11-19 17:39] trodrigues opened #32 "Account for TIMEOUTS"
CMA SDK response:
{
  "code": "ETIMEDOUT",
  "errno": "ETIMEDOUT",
  "syscall": "connect",
  "request": {
    ...
  }
}

[2015-11-24 15:24] SMillerDev commented on #30
It seems to work now (still can't sync but for different reasons)

[2015-11-24 15:34] SMillerDev opened #33 "[Feature request] Language config"
I currently have a free Contentful account I use to test things and a paid one for production. This production instance has 2 languages, which means I can't sync them at this moment due to the plan limit.
A configuration option to specify which particular language to sync could allow me to sync partial content and help me develop without meddling with production spaces.

[2015-11-30 17:17] trodrigues opened #34 "Feedback when copying between different orgs is unclear"
When copying spaces between two different orgs and the user is using the same management token, the feedback shown is very unclear and should maybe suggest that using the same management token is the problem, or otherwise just specify that the destination space doesn't exist:

[code]

[2015-12-06 19:34] jblock opened #40 "Node API (along with CLI)"
Hi! We'd like to tie this module to our Hubot instance (`!deploy content to production`), but unfortunately the CLI-only API is making that hard for us. Ideally a node-API would be exposed as well.

For example:

[code]

Let me know if you need me to provide more background about my use case! I'm happy to put out a PR for this work.

[2015-12-07 08:23] trodrigues commented on #40
Hi Jason,

that makes a lot of sense and in fact the code is already written that way
internally. It mostly just needs that API to be documented and of course,
actually exposed.

I'll look into releasing this very soon.
On 6 Dec 2015 20:34, "Jason Block" <notifications@github.com> wrote:

[2015-12-07 21:13] jblock commented on #40
Thanks @trodrigues! Let me know if I can help

[2015-12-22 21:31] devsaik opened #42 "It's a question : Syncing Issues ..?"
I created a new space(lets call it "playground") and I have a source space( lets call it "master") and I installed node module and created a sync-config.json file  and

my JSON looks like this :
{
  "sourceSpace": "master-spaceId",
  "destinationSpace": "playground-spaceid",
  "sourceDeliveryToken": "I am not sure what goes in here..?",
  "destinationManagementToken": "playground-accesstoken-for-p

[2015-12-24 12:05] JaviLorbada commented on #42
Let's asume you have the spaces within the same Organisation:

You could do the following:

[code]

See the following screenshots to create a `sourceDeliveryToken`:

![screenshot 2015-12-24 12 48 03](https://cloud.githubusercontent.com/assets/1939155/11994357/2027b570-aa3d-11e5-8b07-13a61652a11b.png)
![screenshot 2015-12-24 12 49 59](https://cloud.githubusercontent.com/assets/1939155/11994356/201d

[2015-12-24 17:02] devsaik commented on #42
Thanks @JaviLorbada

[2015-12-24 17:02] #42 closed

[2016-01-11 09:07] #40 closed

[2016-01-11 09:15] trodrigues commented on #40
Hi there. Sorry for not writing about this soon but it got a bit lost in holiday vacations and such.

Also it turned out not to be as simple as I expected due to the way babel polyfill was being used here, as well as in the dependent library which implements most of the actual logic.

It's now not using the polyfill anymore so anything using this as a library shouldn't risk having stuff polyfilled

[2016-01-11 15:54] jblock commented on #40
Thanks @trodrigues! I'll let you know if we have any issues using it.

[2016-01-15 11:13] duryjames opened #48 "babel-register error"
Hi,

I have installed this package like below

[code]

But i am getting this issue when i run it:

[code]

If i install babel-register

[code]

Then i get the following error:

[code]

My "contentful-sync.json" json looks like the following:

[code]

[2016-01-15 12:18] trodrigues commented on #48
Hi there,

apologies for the issue. This somehow didn't reveal itself on a local installation but it's a problem in the built and published version of the package.

For now I suggest you use 2.1.9 with `npm i -g contentful-space-sync@2.1.9`

[2016-01-15 13:08] duryjames commented on #48
Brilliant thanks a lot, its all working now

[2016-01-15 13:08] #48 closed

[2016-01-15 13:41] trodrigues commented on #48
I just published version 3.0.1 which fixes the issue you initially reported. If you'd like to give that a try and report back I'd appreciate it.

[2016-01-15 21:50] dmorrow opened #49 "Appearance is not copied"
Missing Help Text and the Widget for how this field should be displayed

[2016-01-17 00:13] trodrigues commented on #49
Unfortunately Contentful does not yet provide a public API for this so this isn't possible yet. It should be exposed soon though, so I'll leave the issue open to keep this in mind.

[2016-01-21 10:49] trodrigues opened #53 "Notify about contentful-link-cleaner when unresolvedlinks are detected"

[2016-01-25 15:18] trodrigues commented on #53
Fixed by #b5782a0c3b24fd0cc0d51da733457beff57f7855

[2016-01-25 15:19] #53 closed

[2016-01-25 16:20] trodrigues commented on #40
Hi @jblock

I wanted to ask if you ended up building this hubot integration and if you published it somewhere. Someone else expressed interest in using a similar workflow and if it had been published that would be great.

[2016-01-25 16:21] jblock commented on #40
Hey @trodrigues! We haven't got to it yet (the holidays and other projects got in the way), but when I do I will reach out/publish it somewhere

[2016-01-25 16:25] trodrigues commented on #40
Ah great :) Let me know if you do, and I'll add it to our community tools list https://github.com/contentful-labs/awesome-contentful

[2016-01-25 16:27] trodrigues opened #54 "Deduplicate locales"

[2016-02-25 10:43] trodrigues commented on #34
Same error occurs when the default locale on both spaces has a different code.

[2016-02-29 13:27] trodrigues commented on #34
Fixed by https://github.com/contentful/contentful-batch-libs/commit/1a973b890f81beef4945ef4e96f254bc8895ba5d

[2016-02-29 13:27] #34 closed

[2016-02-29 16:17] matviyiv opened #66 "RateLimitExceeded"
Every time we run content sync we get this message:

{ sys: { type: 'Error', id: 'RateLimitExceeded' },
  message: "You have exceeded the rate limit of the Organization this Space belongs to by making too many API requests within a short timespan. Please wait a moment before trying the request again."
}

Looks like default timeout between requests is too sort.

[2016-02-29 16:53] trodrigues commented on #66
Hi there,

there are two kinds of rate limits in the API, a per second rate, and an hourly rate.

This tool uses our [CMA SDK](https://github.com/contentful/contentful-management.js), which by default handles rate limit errors from the API (and attempts to prevent them by already limiting the amount of requests sent to a number even lower than the actual rate limit).

If a rate limit error is rece

[2016-03-01 19:58] thebucknerlife opened #68 "Management Auth Token requires re-authentication (should be in README)"
Hi there,

When you create a new space, you must re-create your Management Oauth token. For some reason, an old management token cannot be used against a new space, even when the token is for the Administrator of the space.

It would be really helpful if this detail was in the README, as it isn't mentioned here or in the Contentful Authentication docs.

Thanks! Happy to open a PR and add this deta

[2016-03-02 09:18] trodrigues commented on #68
Hi Greg,

well that shouldn't be the case, so I'd like to try and understand this better as there might be some confusion here.

A management token (the one you can get [here](https://www.contentful.com/developers/docs/references/authentication/#getting-an-oauth-token)) is attached to your user account.

Any space that your user has access to, can be managed with this access token.

The only reaso

[2016-03-02 10:23] trodrigues commented on #66
I am going to close this as this doesn't seem to be a problem related to the tool and this problem is being dealt with through other channels.

[2016-03-02 10:23] #66 closed

[2016-03-02 12:40] matthieu-beteille opened #69 "Copy content-types but not locales"
Hi :hand:,

Is there a way to synchronise the content types and not the locales?

Cheers

[2016-03-02 13:25] trodrigues commented on #69
Hi there,

there isn't a way right now, but this could possibly be added.

One of the reasons why it wasn't before is because entries will have content in a format such as:

[code]

So when you clone a content model, if you don't also clone the locales, the entries will fail to be copied because not all the expected locales are there.

But I understand there can be a potential use case for only co

[2016-03-02 15:08] matthieu-beteille commented on #69
That's exactly what I want to do. I want to start with the exact same content types, and keep them in sync as I add more.

If you want I can create a PR adding a "skip-locales" option?

[2016-03-08 08:59] #69 closed

[2016-03-08 09:00] trodrigues commented on #69
Hi there,

first of all, thanks for your PR :)

I only managed to have a look at it yesterday and I ended up moving the logic to the [contentful-batch-libs](https://github.com/contentful/contentful-batch-libs/commit/b14ab82b101694964349b6ab28282f4eaa191dd4) package as this is the package that implements most of the logic of this tool. I decided to just do it because it would be faster than asking

[2016-03-11 21:58] jblock commented on #40
Hi @trodrigues!

We're going through and implementing this right now. Would you accept a PR to output the sync token information as a return value of the `runSpaceSync` function? Our systems are constraining us from being able to write it to the filesystem.

[2016-03-14 08:33] trodrigues commented on #40
Oh yeah, that didn't really cross my mind. Yes of course, go ahead.

[2016-03-17 14:54] trodrigues opened #73 "Document library API usage"
This tool has been exposed as a library but that usage pattern has not been documented.

[2016-03-18 11:31] maiers commented on #68
Same here. I had to logout/login to create a new Management Token. It did not work with the old token which existed before the new space had been created. Btw I have the owner role for the organization and all it's spaces.

[2016-04-05 15:52] trodrigues commented on #68
As explained before, this is an issue we cannot reproduce and see no reason as to why this could happen. If someone can come up with some more helpful output or reproduction steps we'd be happy to look at it, but until then I will close this issue.

[2016-04-05 15:52] #68 closed

[2016-04-05 15:54] #73 closed

[2016-04-05 15:55] trodrigues commented on #40
Hey there,

I just pushed a version which exposes the token on the return value of the promise, and documented the usage of the library in the readme.

[2016-04-05 18:11] jblock commented on #40
Sweet! Thanks @trodrigues

[2016-04-11 19:29] nikolaiwu opened #77 "Cannot read property 'id' of undefined"
We're having troubles trying to sync 2 spaces. The process runs smoothly, until it stops on one of the assets.

Here is the command:
`contentful-space-sync --config cf-sync-prod-to-qa.json --skip-content-model --force-overwrite `

and the content of cf-sync-prod-to-qa.json:
[code]

After a while it get stuck on one of the assets, couple of minutes later spits an error:
[code]

`node -v` 5.6.0
`npm

[2016-04-12 07:27] trodrigues commented on #77
Hi @nikolaiwu,

at first sight this seems like it could be an issue with that asset in particular. Can you check the asset with that ID in the source space and see if:
- the file has been properly processed and is accessible
- the asset is published

In any case, would you mind opening a support ticket through Contentful and providing us with your Space ID so we can try and figure out if there is

[2016-04-12 12:13] dimitko commented on #77
Hello @trodrigues. I am on the same team with @nikolaiwu and we have both experimented with this.

SOURCE Space ID (our Production space): `224xe5nqimit`
DESTINATION Space ID (our new and easy to sacrifice QA space: `n3ga73o12ziq`

After your questions we went in the space and started digging and found this:

The asset in question is a PDF file which is *not* downloadable (we get AWS S3 XML):

[co

[2016-04-12 14:28] trodrigues commented on #77
Hi there,

thanks for the information. I've managed to reproduce the issue and will investigate some more to try and figure out what's going on.

To answer your questions:

Probably because something is breaking midway and the whole process isn't finishing correctly.

No, it's not. That seems to be the issue. The asset is processed properly, but the app seems to get stuck in the wait loop to figur

[2016-04-12 14:31] dimitko commented on #77
@trodrigues Thank you. We'll be thankful for your help since we're seriously stuck on blocked on this.

[2016-04-12 15:22] trodrigues commented on #77
So I think I've figured out what's going on. Also I should've read your previous comment more carefully as you actually pointed out what the root cause of the problem is.

You said:

Somehow, when that asset was first uploaded to the source space, the processing step failed (we're not sure why right now and I've asked our backend people to investigate, but it's something we've seen happen on occas

[2016-04-12 15:43] dimitko commented on #77
@trodrigues Thank you. I've contacted our content manager. He'll sort it out today. I'll then retry and definitely let you know no matter the outcome.

As for the tool, I agree you should make it more precise when it's erroring. We absolutely needed much more details when it crashed.

As for additional help, we'd have 2 requests if you're up for them:

(1) We feel you should make this tool (or a n

[2016-04-12 16:13] trodrigues commented on #77
Hi @dimitko, and thanks for the feedback.

In the case of the link cleaner tool, it would indeed be a good idea to have a dry run mode. One of the reasons as to why that wasn't added from the start is that the tool was initially thought for people who had just used `contentful-space-sync` and ended up with a log file with a list of entries that have missing links. I've created a new issue for this

[2016-04-12 17:09] dimitko commented on #77
@trodrigues I understand. It's pretty normal and it happens to all devs -- as a colleague, I know.

We need a way to reliably manage our data, though. If there's an API added in the future, our Ops team will be able to periodically pull and store backups as well. And as a dev I need to be able to inspect and find problems in the data and act on them in a timely manner. I hope you understand our ne

[2016-04-12 17:39] dimitko commented on #77
By the way, the Entries are also incomplete: 1343 / 1570. Again, could be related to the errors above.

[2016-04-13 08:41] trodrigues commented on #77
Hi there,

first of all, I'll just let you know I edited your comment and removed your log above because it contains management API access tokens which could allow others to change your data (this is also why I had requested earlier that we continue the conversation trough https://support.contentful.com). You can revoke the token at https://app.contentful.com/account/profile/access_grants (the tok

[2016-04-13 12:55] dimitko commented on #77
Done, I've revoked my token. Thank you for noticing.

[2016-04-14 09:18] trodrigues commented on #77
So I've ran the tool again, and had a look at the discrepancies in the number of Entries/Assets.

Given that the tool was mostly designed for publishing purposes, the tool only synchronizes **published** content.

This seems to be consistent with the numbers you're seeing. There are a couple of published assets that are not being copied across properly and this is probably consistent with a couple

[2016-04-14 09:56] trodrigues opened #78 "Allow for a proxy workflow"
The SDKs support proxy usage but there's no way to pass those from the tool.

[2016-04-14 11:33] dimitko commented on #77
@trodrigues In regards to only synchronizing published content, I guess that's not fatal but it would still be helpful if the content managers want to carry over drafts, for example. That part we can live with, though.

If you're telling me the rest of the assets / entries that aren't being copied should be blamed _only_ on broken links, then I'm fine with that and we can stop here. If that's howe

[2016-04-14 12:07] trodrigues commented on #77
Ok, so let's go by parts:

The Entries/Assets which are not being copied are the ones in Draft state. The ones with broken links are still copied, but are not published in the destination space. Occasionally, some other less common errors (as the one we saw before with the broken asset, or some temporary network failure) can also lead to some things not being copied. Unfortunately these are cases

[2016-04-18 10:28] trodrigues opened #80 "Better handling of unpublishing failures"
Sometimes when unpublishing on the destination space fails, this might be due to entries that previously failed publishing due to unresolved links errors.

The tool shouldn't abort for these cases and should provide output about the expected course of action (using link-cleaner, etc)

[2016-04-18 10:29] trodrigues opened #81 "Log error output in JSON only"
The error output log file should be JSON only for easier parsability. Any help messages should be part of the JSON and/or shown when the tool exits.

[2016-04-25 19:56] rossthedevigner opened #82 "Question: Syncing Content Types from "dev" to "prod""
_Needs a question label_
I have production space that I want to sync to a dev space to test/build new content types. Once I'm ready to sync my new Content Types from "dev" to "production", will running with the flag `--content-model-only` just copy the schema even though Entries are already published?

Is there a scenario where Entries could be deleted by doing a `--content-model-only`?

For examp

[2016-04-26 09:04] trodrigues commented on #82
Hi there,

yes, that would possibly work and the behavior should be the one you describe.

However, that works well if you add fields. If you delete fields, it won't work, as you can only delete fields if there are no entries associated with a content type (there is a workflow for field deletion which works, and it's explained on the README). If you change a field type, you'll also run into proble

[2016-04-26 09:04] #82 closed

[2016-04-26 12:53] rossthedevigner commented on #82
Excellent, thanks for the additional info. I can't wait to see what you have in store! 👍

[2016-05-10 11:31] SMillerDev commented on #33
--skip-locales fixed this, thanks

[2016-05-10 11:32] #33 closed

[2016-05-10 16:10] matthieu-beteille opened #86 "Synchronise only one component between two spaces?"
Hi,

Let's say I have two spaces with the exact same content types, and some different entries. Would it be possible to keep in sync only some entries?

Ideally, I'd like to be able to run sth like:

```contentful-space-sync --config config.js --entry entryID```

(where `config.js` would contain sourceSpace, destinationSpace, and the tokens)

This would synchronise my entry entryId from the source

[2016-05-11 09:12] trodrigues commented on #86
Hi there,

right now, no, this isn't possible.

We've been noticing that many users of this tool seem to have some very specific use cases, so we're looking into potentially documenting the underlying libraries a bit better and give people a sort of framework to let them create more specific tools. Right now I can't give you an exact timeframe of when this might happen.

If this is something that'

[2016-05-12 14:01] nikolaiwu commented on #80
Better solution, by my opinion, would be to, be able to create exact same copy of source space to destination space, regardless of broken links. I don't know if there is some technical difficulties to do that. Right now, we have to convince out client, to clean their references to all unpublished entries, in order for us to create our test environment and keep it synced with production. Our client

[2016-05-17 09:07] trodrigues commented on #80
@nikolaiwu that's why we created a separate tool, https://github.com/contentful/contentful-link-cleaner to allow for cleaning those broken links more easily.

The reason why this isn't being done automatically as you suggest, is that we don't want the space sync tool to perform an action that isn't clear, even if it's what some people might want. We prefer to give users the option to solve the sit

[2016-05-17 14:30] matthieu-beteille commented on #86
Hey @trodrigues,

Thanks for getting back to me. Indeed, I think I'll need to fork the code at some point in the next month to do this. So if you have any tips on how I could get started, that would be much appreciated!

Thank you so much.

[2016-05-30 12:32] matviyiv opened #89 "Sync fails with --force-overwrite"
contentful-space-sync is failing if target space doesn't have Entry which was just created in source space.
I am using contentful-space-sync v3.2.2
Command:
contentful-space-sync --config config.json --skip-content-model --force-overwrite

[2016-05-30 14:43] trodrigues commented on #89
This should only be a problem if the content type for that entry doesn't exist in the destination space. As you are using the skip-content-model option, that might be the cause of your problem.

[2016-05-31 09:35] matviyiv commented on #89
I run model sync each time but in separate command:
contentful-space-sync --config config.json --content-model-only --force-overwrite
contentful-space-sync --config config.json --skip-content-model --force-overwrite
contentful-link-cleaner --config config2.json

But some times content type is not published on destination space.

[2016-06-02 13:44] trodrigues commented on #89
That's probably the reason why you're seeing this problem. If the content type is not published, and the entry expects some of those changes to exist, then it won't be created.

In general the workflow you are following here doesn't sound like a good idea, because the only changes that this tool can make to content types are if you add or delete fields.

And deleting fields only works if the desti

[2016-06-14 08:46] #89 closed

[2016-06-21 16:07] trodrigues commented on #81
This is now possible on the latest version

[2016-06-21 16:07] #81 closed

[2016-06-21 16:07] trodrigues commented on #11
This is now possible on the latest version

[2016-06-21 16:07] #11 closed

[2016-06-21 16:08] #77 closed

[2016-06-23 18:03] nikolaiwu opened #90 "TypeError: Cannot read property 'publish' of undefined"
It's been a while, since last synchronization of our QA space, so we decided to update it from Production space, to get a fresh copy. I've cleared all content of the QA space (entries, assets and content types) and then I started the tool. It created all content types, then it started on the assets, where it blew up with an error. Here's the log:

[code]

The script manage to copy most of the asse

[2016-06-23 20:15] Khaledgarbaya commented on #90
Hi @nikolaiwu ,
This could be due to an entry that previously failed publishing for some reason like a broken link
for example.
I totally agree with you that you should use roles and permission for your workflow.
You can find more info about it here: https://www.contentful.com/r/knowledgebase/roles-and-permissions/

To be able to help you more about the checking what actually happened with asset I

[2016-06-24 07:33] nikolaiwu commented on #90
Thank you @Khaledgarbaya,
the issue is submitted!

Regarding roles and permissions, I've read that article, also the related FAQ, but I need something a bit more technical. Like for example, how to configure the production website to get the content from the client and not our dev testing versions, and the QA site to get all content from the client plus our dev testing data. I didn't find any info

[2016-06-24 08:07] Khaledgarbaya commented on #90
Yeah let's move to the ticket

[2016-06-24 08:07] #90 closed

[2016-06-27 18:16] j2d3 opened #91 "version mismatch errors when performing syncs"
When attempting to perform a sync between two contentful spaces, I keep receiving "version mismatch" errors.

[2016-06-27 19:51] Khaledgarbaya commented on #91
Hi @j2d3 ,
Can you please provide more infos like
- The command you executed and include log file if there is any created.
- Where did you receive this error.
- What is the version of the space sync tool you used.
- you node version

**Please don't mention anything related to spaceId or tokens here**

[2016-07-13 14:38] Khaledgarbaya commented on #80
This issue now is fixed in https://github.com/contentful/contentful-space-sync/commit/65af2d50ec3c36620ab39ea0040b90ed350a9620

[2016-07-13 14:38] #80 closed

[2016-07-13 14:46] Khaledgarbaya commented on #86
Hi @matthieu-beteille,
Let me know if you need to some help for this I would be glad to help.
I would suggest that you take a look over the [transform](https://github.com/contentful/contentful-batch-libs/blob/master/lib/transform/transformers.js), there you will have access to all entries and you can perform some changes to it before pushing it to the destination space
Best,
Khaled

[2016-07-14 14:51] Khaledgarbaya opened #92 "Editor interfaces are not sync properly"
Syncing the Editor interface (representation of the fields) is not done by the tool we should investigate that and add it since the editor interface feature is added in the contentful-management sdk already

[2016-08-05 20:36] mohammadeslami opened #93 "Not able to run the sync process"
I followed all the steps mentioned in https://www.contentful.com/developers/docs/tutorials/general/using-contentful-space-sync/

but This is what I am getting. Not helpful error message at all!

Command : `contentful-space-sync --config my-config-file.json`

Output:
`info Contentful Space Sync:`
`Let's sync some content across spaces!`
`info No previous sync token found.`
`Synchronizing fresh cont

[2016-08-29 09:01] Khaledgarbaya commented on #93
Hi @mohammadeslami ,
Can you give me the version of the tool you used ?
Best,
Khaled

[2016-08-30 14:42] richhiggins commented on #92
+ 1

[2016-09-06 17:14] ashishbt82 commented on #93
Even I am facing the same issue. My Version of tool is 4.0.9.  @Khaledgarbaya  my request #11529 is also assigned to you.

[2016-09-07 08:33] Khaledgarbaya commented on #93
Hi Guys,
I am investigating the issue and will get back to you asap

[2016-09-07 20:41] Khaledgarbaya commented on #93
Hi there,
I was not able to reproduce the issue here, could it be that you are having a proxy in your network setup or something like this ?

Best,
Khaled

[2016-09-07 20:41] Khaledgarbaya commented on #91
Hi I am closing this issue since there was now answer for a long time, feel free to open a new one

[2016-09-07 20:41] #91 closed

[2016-09-07 20:42] Khaledgarbaya commented on #86
I am closing this issue since it's been there for a long time without further activity

[2016-09-07 20:42] #86 closed

[2016-09-07 20:44] Khaledgarbaya commented on #49
Following https://github.com/contentful/contentful-space-sync/issues/92

[2016-09-07 20:44] #49 closed

[2016-09-07 20:44] #16 closed

[2016-09-07 20:44] Khaledgarbaya commented on #32
old issue, closing it

[2016-09-07 20:44] #32 closed

[2016-09-07 20:45] Khaledgarbaya commented on #54
old issue, closing it

[2016-09-07 20:45] #54 closed

[2016-09-08 04:03] ashishbt82 commented on #93
Hey @Khaledgarbaya

I was able to fix the issue. The problem was with proxies. Can you please find some proxy configuration which can run when we are in companies network.

Regards,
Ashish

[2016-09-08 05:57] Khaledgarbaya commented on #93
Ok the SDK already support proxies, i need just to expose it as a config in
the sync tool. Thanks for the infos guys

On Thursday, 8 September 2016, Ashish Tondare <notifications@github.com>
wrote:

--
---
Khaled Garbaya
Javascript Ecosystem Developer
www.contentful.com

[2016-09-08 07:51] knupska commented on #92
This is also something that we require.

We've produced a template space of basic content types that we'd like to use for the scaffolding of new spaces, and currently it's a time consuming manual task via the Contentful UI to go through and reimplement field appearance and help text.

[2016-09-08 09:34] #78 closed

[2016-09-08 09:34] #93 closed

[2016-10-30 16:59] DonFuego opened #95 "TypeError: undefined is not a function"
Trying to sync content-model-only=true from DEV to QA space.  Getting this error...config is:

`{
  "sourceSpace": "xxxx",
  "destinationSpace": "xxxx",
  "sourceDeliveryToken": "xxxx",
  "managementToken": "xxxx",
  "content-model-only": true
}`

First few lines of error:

`ERR! Failed with
 TypeError: undefined is not a function
ERR! Failed with
     at getFieldEntriesIndex (/usr/local/lib/node_

[2016-10-31 10:48] Khaledgarbaya commented on #95
Hi @DonFuego
can you tell me which version you are using and if the space QA is an empty space or has some content already

[2016-10-31 18:32] qbunt opened #96 "Exceeds rate limit when syncing a large space"
When this tool is used to sync a large space, the tool will overwhelm the rate limit of the Content Management API (presumably) and not allow any more assets or content models to sync.

When running, this tool (or the API) will allow for **exactly** 600 lines of output before a 'rate limit exceeded' message is received through the API [as soon through this scrollback](https://gist.github.com/qbunt

[2016-11-01 03:03] DonFuego commented on #95
Hi @Khaledgarbaya I'm using version 4.0.10.  The QA space is brand new and completely empty - no content or models.

[2016-11-01 10:29] Khaledgarbaya commented on #96
Hi @qbunt ,

The tool already has a back-off and retry mechanism but only for the per second rate limit, but if you reach the hourly limit there is not much to do, tool wise, because it does not make sense to pause the sync for 20 min or more till the next hour and then continue.
One solution is sync gradually, for example: let's say you have 100 assets and you want to sync them in 2 times. You ma

[2016-11-01 21:48] DonFuego commented on #95
@Khaledgarbaya FWIW I'm using Node v6.8.0 which used a later version of lodash.  We just tried to run this on Node v5.6.0 and it worked...

[2016-11-02 09:13] Khaledgarbaya commented on #95
@DonFuego ah thanks a lot, I will check that

[2016-11-02 10:02] #95 closed

[2016-11-02 18:16] qbunt commented on #96
Hey @Khaledgarbaya, thanks for the fast response. I have a call with our agency contact tomorrow. It does seem like the per second backoffs are being respected, it's the hour limit we're running up against. This space has 1600+ assets in it, and I think that may simply be too much for the system.

One question for you. I agree it doesn't necessarily make sense to pause for 20+ minutes. You could c

[2016-11-03 12:34] Khaledgarbaya commented on #96
Hi @qbunt it would a bit complicated if we try to only sync entries by contentTypes because some ContentTypes may link to other contenTypes, What we'll try to do at some point is maybe also wait for the rest of the hour and resume again, this way the sync will take longer but at least it will finish.

[2016-11-03 13:13] sejoker commented on #96
@qbunt @Khaledgarbaya I have exactly the same problem in Auctionata. Our space is quite big as well. We do incremental syncing using sync token of the last successful sync (built-in in the tool ). We had to sync from scratch due to other issues and ended up overwhelm hourly rate limits. The solution which worked for us was overriding default timeouts in the [contentful management](https://github.c

[2016-11-03 13:18] Khaledgarbaya commented on #96
Hey @sejoker that's a good point also, I'll see what I can do

[2016-11-03 13:21] sejoker opened #98 "AssetProcessingTimeout exception"
We started to upload video assets into Contentful. As a result, our contentful-space-sync started to throw "AssetProcessingTimeout: Asset is taking longer then expected to process". Similar to approach I used [here](https://github.com/contentful/contentful-space-sync/issues/96#issuecomment-258138171) I have overridden
[code]
from [here](https://github.com/contentful/contentful-management.js/blob/5

[2016-11-03 13:24] sejoker commented on #98
The video files we upload could have 20-200 MB size.

[2016-11-03 13:45] Khaledgarbaya commented on #96
Ok it turns out it is easy for now to expose these two params once those PR are reviewed and merge you should have that option

PRS :

https://github.com/contentful/contentful-batch-libs/pull/70
https://github.com/contentful/contentful-space-sync/pull/99

[2016-11-03 14:03] Khaledgarbaya commented on #96
@qbunt and @sejoker Guess what the PR are merged you should have a new version published soon, when the CI finishes building

[2016-11-03 17:35] qbunt commented on #96
Ah you guys rock @Khaledgarbaya! Thanks so much for the fast response, I'll go through some testing early today with this and see where we land. Cheers!

[2016-11-07 11:06] sejoker commented on #98
@cc @Khaledgarbaya, would be great to get your feedback on my feature request.

[2016-11-07 11:46] Khaledgarbaya commented on #98
Hi @sejoker,
Yeah I guess it kinda make sense and the the [processForAllLocale](https://github.com/contentful/contentful-management.js/blob/52fe27f1c837ce33b547d6c0bfc6fd503e1bd8eb/lib/entities/asset.js#L81) already accepts those params.
It is easy to add to the sync tool, but unfortunately I don't have time for it for now, but hey pull requests are always welcome and I can guide you where to add

[2016-11-14 17:52] duncanh opened #100 "TypeError: expecting an array or an iterable object but got [object Null]"
Environment: node 4.5.0, contentful-space-sync 4.1.1, client OSX 10.9.5

Hey guys - just trying to use the tool for the first time to sync between two spaces and getting this trace below (space ids removed). The destination space is completely empty and has no content model. I've had a look at the source of this library and bluebird and can't see anything obvious. Have also confirmed that the sync

[2016-11-14 19:45] Khaledgarbaya commented on #100
hi @duncanh ,
are you running the tool from source or from `npm nstall -g contentful-space-sync` ?
This is very weird never seen this before.

[2016-11-14 19:53] duncanh commented on #100
hey @Khaledgarbaya, I'm running it from `npm nstall -g contentful-space-sync`. In case it's relevant my node is managed with nvm, output of `nvm ls` is;
[code]
and I'm using v 2.15.9 of npm.

[2016-11-14 20:09] Khaledgarbaya commented on #100
@duncanh ,
Sorry one more question, can you show me the structure of the json file you are using ?

[2016-11-14 20:15] duncanh commented on #100
sure thing (sanitized)
[code]

[2016-11-14 20:17] Khaledgarbaya commented on #100
ok, I will investigate this further meanwhile, can you clone the source and `npm install && npm run build` and run the tool locally `./bin/space-sync --config credentials.json`.

[2016-11-14 20:35] duncanh commented on #100
Hmm sorry - I get the same problem. I'm now wondering if I'm doing something stupid. I know the credentials and space ids are right though because I put deliberately wrong ones in and get the expected auth errors.

[code]

[2016-11-14 20:54] duncanh commented on #100
There is an [issue](https://github.com/petkaantonov/bluebird/issues/1045) on bluebird giving rise to the same error message that I'm getting. I tried to make the recommended change in line 4 of run-space-sync.js and re-run it but it didn't have any effect.

[2016-11-14 21:00] Khaledgarbaya commented on #100
I don't think the error is happening there it is happening around [here](https://github.com/contentful/contentful-batch-libs/blob/master/lib/get/get-outdated-destination-content.js#L21) and if I recall correctly that code did not change since a long time.
btw I am having the same error, I will try to fix this first thing tomorrow when I am back in the office.
Sorry for having this issue

[2016-11-14 21:04] duncanh commented on #100
Hey @Khaledgarbaya thanks very much for looking into it  ..

[2016-11-14 21:04] Khaledgarbaya commented on #100
@duncanh you can try better tools [contentful-export](https://github.com/contentful/contentful-export) for exporting your content to json file and [contentful-import](https://github.com/contentful/contentful-import) to import the exported json. For now

[2016-11-15 08:58] Flood commented on #48
I have the same problem for "contentful": "3.7.1", it complains about babel-register. When I install that it throws on:

Error: XHR error (404 Not Found) loading http://localhost:5555/node_modules/contentful/lib/contentful.js

And there is no lib folder.

[2016-11-15 09:49] Khaledgarbaya commented on #48
@Flood , is this related to space-sync-tool ?
If not, please create an issue in the contentful.js repo

[2016-11-15 09:51] Flood commented on #48
No, it's for contentful.js. Thanks anyway

[2016-11-15 14:51] szimek commented on #100
I'm just trying to copy data between spaces for the first time using contentful-space-sync 4.1.1 and it fails with exactly the same error. I've got node 7.1.0.

@Khaledgarbaya Thanks for the tip. I'll try these export/import tools then instead ;)

[2016-11-15 15:32] Khaledgarbaya commented on #100
@szimek, I am still investigating what is causing the problem, should be fixed soon

[2016-11-15 15:52] Khaledgarbaya commented on #100
@szimek and @duncanh The issue is fixed, it was not related to bluebird it was something introduced when creating the contentful-export and contentful-import tool. Sorry about that.
I will release a fix in few minutes.
Again really sorry guys about the issue

[2016-11-15 16:21] #100 closed

[2016-11-15 16:27] szimek commented on #100
@Khaledgarbaya Thanks!

[2016-11-15 16:27] Khaledgarbaya commented on #100
v4.1.2 is the fixed version

[2016-11-15 16:35] duncanh commented on #100
@Khaledgarbaya Thanks for addressing that so quickly - will check it out. In the meantime, I did follow your suggestion with the other libraries and that worked for me. :)

[2016-11-17 09:32] SalilGavhankar opened #101 "Error While Unpublishing: entity undefined entity at index 0"
I tried to sync following two spaces.
**Source space** : w01sbxcs8tuo
**Destination space** : 6w3ci3275pfh

When destination space was empty content types and contents got created successfully (Well Done!). After this synchronization I added content type, content and deleted single content, asset from source and executed utility again. New content type and content were created successfully BUT the

[2016-11-17 11:01] tnunes opened #102 "Using as library fails with `managementToken`"
Using the tool as a CLI, we can use the `management-token` parameter when it is shared by both source and destination spaces, as stated in the docs.

When trying to use this parameter through the JS API (as `managementToken`), we're getting `TypeError: Expected parameter accessToken` thrown.

Currently, the tool only works as a library if specifying both `sourceManagementToken` and `destinationMan

[2016-11-17 11:24] tnunes opened #103 "Using as library fails without `syncTokenFile`"
The `runSpaceSync` function is currently failing at the end of the sync process if the optional parameter `syncTokenFile` is not specified.

The following error is thrown:

[code]

Going through the code confirms that `fs.writeFileSync` is being given the value of `syncTokenFile`, which is `undefined` and causing the error.

[2016-11-17 12:30] Khaledgarbaya commented on #103
Hi @tnunes,
Thanks for reporting I will check it out asap and sorry for the issue

Best,
Khaled

[2016-11-17 12:33] Khaledgarbaya commented on #102
Thanks @tnunes ,
I will work on a fix asap
Best,
Khaled

[2016-11-17 12:33] Khaledgarbaya commented on #102
@tnunes  can you show me a snippet of code on how you pass the params to the library ?

[2016-11-17 12:35] Khaledgarbaya commented on #101
Hi @SalilGavhankar ,
Did you use a sync token for the second sync ?
Also what version of the tool did you use ?

Best,
Khaled

[2016-11-17 12:36] Khaledgarbaya commented on #103
@tnunes can you provide a code snippet on how you used the tool as a library especially the object structure you passed in.
Best,
Khaled

[2016-11-17 12:47] Khaledgarbaya commented on #103
it is not clear in the documentation but your options object should like something like this:
[code]

[2016-11-17 12:47] Khaledgarbaya commented on #102
it is not clear in the documentation but your options object should like something like this:
[code]

[2016-11-17 13:50] SalilGavhankar commented on #101
Hi Khaledgarbaya,

At the time of second sync, utility picked up the existing token that was created at the time of first sync.

Synchronizing content from w01sbxcs8tuo to 6w3ci3275pfhwith existing token from...

I am using version 4.1.2 of the utility.

Thanks for your reply.

[2016-11-17 13:56] tnunes commented on #102
Hi @Khaledgarbaya,

I'm passing parameters like you described.

Since it's currently not working if trying to do it like this:

[code]

I'm working around it like this, even though `sourceManagementToken === destinationManagementToken`:

[code]

[2016-11-17 14:01] tnunes commented on #103
Hi @Khaledgarbaya,

I left the example of how I'm using the library in https://github.com/contentful/contentful-space-sync/issues/102#issuecomment-261252389.

This specific issue refers to the fact that even though the `syncTokenFile` parameter is not required in the CLI version of the tool, it's currently being required when using it programatically as a library.

It's not documented as being req

[2016-11-17 14:58] Khaledgarbaya commented on #102
Ah yeah I will fix that asap, the check to merge both token only done cli
side, sorry about that

On Thu, 17 Nov 2016 at 14:56, Tiago Nunes <notifications@github.com> wrote:

[2016-11-17 15:00] Khaledgarbaya commented on #103
Yeah this one i will fix, cli was setting it to pwd if it is not defined
but not for library ise, sorry about that i will work on that asap

On Thu, 17 Nov 2016 at 15:02, Tiago Nunes <notifications@github.com> wrote:

[2016-11-18 14:34] Khaledgarbaya commented on #102
Hi @tnunes ,
Can you test with the branch referenced in this issue and confirm that the issue is fixed, if so I will merge it to master.

Best,
Khaled

[2016-11-21 07:50] SalilGavhankar commented on #101
Hi @Khaledgarbaya

Have you got change to look into this issue?

[2016-11-21 08:46] Khaledgarbaya commented on #101
@SalilGavhankar ,
this could happen due to multiple reasons, like an entity didn't get unpublished in time. You could increase the waiting time for that by setting the `--pre-publish-delay`.

[2016-11-21 13:07] SalilGavhankar commented on #101
Hi @Khaledgarbaya ,
I tried with by setting --pre-publish-delay to 50000. I have deleted content from source space and ran the tool. But still i m getting following error

info Error While Unpublishing: entity undefined entity at index 0
info Error While deleting entity: undefined entity at index 0

Please advice.

[2016-11-21 15:31] Khaledgarbaya commented on #101
Hi @SalilGavhankar , can you create a ticket at our support so we can take a closer look at your spaces and seeing what is causing this problem.

[2016-11-22 11:37] tnunes commented on #103
Hi @Khaledgarbaya,

#102 seems to be fixed.

The tool is not failing anymore, but I'm still seeing some errors related to #103:

[code]

[2016-11-22 11:46] tnunes commented on #102
This one seems to be fixed. Left comment in https://github.com/contentful/contentful-space-sync/issues/103#issuecomment-262218974 mentioning this.

[2016-11-22 12:16] Khaledgarbaya commented on #103
I guess getting the current working directory is not working in this case, I will fix it in a moment

[2016-11-22 12:32] Khaledgarbaya commented on #102
@tnunes I pushed a fix, can you test again?

[2016-11-22 12:36] #102 closed

[2016-11-22 12:36] Khaledgarbaya commented on #103
@tnunes pushed a fix

[2016-11-22 14:13] tnunes commented on #103
@Khaledgarbaya,

The fix still does not work :)

The last commit actually makes it worse. Using `process.cwd()` was the way to go, as `__dirname` will give you the directory where the `run-space-sync.js` file is, and that's never gonna be the place we want to store the sync token file in.

The problem is that in [line 21](https://github.com/contentful/contentful-space-sync/blob/f05706191b3930c098e

[2016-11-22 14:25] Khaledgarbaya commented on #103
😐 yeah, I totally missed that. ok I pushed the fix and reverted back using the `process.cwd()`

[2016-11-24 12:19] tnunes commented on #103
It looks good to me now, apart from the small detail I mentioned in https://github.com/contentful/contentful-space-sync/pull/104/files#r89487379.

[2016-11-24 12:31] Khaledgarbaya commented on #103
ok @tnunes the pull request will be released by next week. Thanks for all the feedback

[2016-11-24 13:36] tnunes commented on #103
Perfect, thanks!

[2016-11-24 13:37] Khaledgarbaya commented on #103
I am closing this issue now please follow the pull request for more changes. An if you have more issues or feedbacks please feel free to create a new issue

[2016-11-24 13:37] #103 closed

[2016-11-24 13:42] Khaledgarbaya commented on #92
@knupska and @richhiggins Hi guys, Editor interfaces exporting and importing and more features are added to the our new tools [contentful-export](https://github.com/contentful/contentful-export) and [contentful-import](https://github.com/contentful/contentful-import). You can use these tools for now until we bring the editorInterfaces syncing to the sync tool

[2016-11-24 13:42] #92 closed

[2016-12-07 07:22] bszatny opened #105 "Conflict (409) after deleting an asset on destination space"
Hello, I contact you because I get 409 error when trying to sync asset from my dev space to my production space. I accidentally deleted manualy an asset on destination space and when trying to launch sync on this asset I get a 409, thank you very much for your help.

[2016-12-07 15:19] Khaledgarbaya commented on #105
Hi @bszatny,
Can you provide the log file or the output of the command line

Best,
Khaled

[2016-12-08 13:10] sofiekedvik opened #106 "Question: Empty content(s) - Validation error"
All content-types are copied/synced to the destination space, but the content only displays the names correct and some are unpublished. Looking further, they are all empty inside even the published ones. The log file explains: validation error. I have indeed put some validation on some of the fields, but not all and not in every content-type. If I try run it again nothing is synced.

Is there a wo

[2016-12-08 18:53] Khaledgarbaya commented on #106
Hi @sofiekedvik,
Can you maybe provide the log file,**Please make sure to remove any sensible informations like token and space id**, Also the version the space-sync tool version you are using

Best,
Khaled

[2016-12-09 09:03] sofiekedvik commented on #106
Hey @Khaledgarbaya!

I tried out some new things this passed time, a college of mine solved his issues with: and it turned out good! The spaces needed to have the same locales. I must have missed it some how. Too bad the error messages didn't say nothing about that. So all is good!

Great job and thank you!

[2016-12-09 09:20] Khaledgarbaya commented on #106
@sofiekedvik , glad it worked got you. I will close this issue for now and feel free to add a new one if you have an issue.

[2016-12-09 09:20] #106 closed

[2016-12-12 13:04] apaatsio commented on #96
I tried the sejoker's suggestion to set rateLimit: 1 and rateLimitPeriod: 5000 but I'm still getting a 429 Rate limit exceeded error after a while.

I'm trying to clone a space that has 2 content types, ~200 entries and ~1800 assets. I'm doing a fresh sync.

[2016-12-12 13:12] Khaledgarbaya commented on #96
@apaatsio which version are you using ?

[2016-12-12 13:25] apaatsio commented on #96
@Khaledgarbaya 4.1.3

[2016-12-12 16:38] Khaledgarbaya commented on #96
I will investigate that asap, can you provide the the command line logs, also what you executed as a command? **please remove anything related to spaceIds and Tokens**

[2016-12-13 09:20] apaatsio commented on #96
The log can be found here: https://gist.github.com/apaatsio/776e0b882fc6f804a5d005bbbc086f0d

When I check the failing asset (id 2AGLlAwmDeOUuQGOU6IAAE) in the destination space, it looks like this:
![processing](https://cloud.githubusercontent.com/assets/195210/21134273/b407beac-c125-11e6-88f8-755589d4c661.png)

Is this an error situation or how long should the processing take? It has been proces

[2016-12-13 09:58] Khaledgarbaya commented on #96
@apaatsio Unfortunately this is hard to track 😔  could happen due to multiple reasons. For the image above it will stay like that.

Meanwhile can you try the [contentful-export](https://github.com/contentful/contentful-export) and [contentful-import](https://github.com/contentful/contentful-import) .

Sorry again for this issue it is hard to track since there is a lot of network operations, but I

[2016-12-29 09:27] ndrez opened #107 "Appearances for the fields are not getting synced properly"
After syncing a space to an empty one the appearance setting for a field is not getting synced properly.

_Example:_ Short text field with an appearance "Dropdown" will be synced to new space with an appearance "Single line". Is this a known issue?

[2017-01-02 09:23] Khaledgarbaya commented on #107
hi @ndrez ,

Unfortunately, this is not supported in the space sync tool. Alternatively you can use [contentful-export](https://github.com/contentful/contentful-export) and [contentful-import](https://github.com/contentful/contentful-import) to get the presentations synced.

Best,
Khaled

[2017-01-02 09:23] #107 closed

[2017-01-05 14:36] Khaledgarbaya commented on #101
@agarwalnikhil Sorry still couldn't reproduce it

[2017-01-05 14:39] agarwalnikhil commented on #101
@Khaledgarbaya  any other alternative for this? Also i created a node utility to do the same where a form with these 4 fields is there (source id, destination id, delivery token and management token) and on submit the contentful sync will perform, I deployed the application on Heroku.
But as when we will restart the dyno in heroku, the token file will get deleted. And an error will be shown that y

[2017-01-05 15:10] agarwalnikhil commented on #101
@Khaledgarbaya But then if i will run the utility for 4-5 spaces then everytime i need to fetch the token for respective space id(source and deestination) from db. Or it will automatically find the respective sync token from db?

[2017-01-05 15:14] Khaledgarbaya commented on #101
@agarwalnikhil You will need to grab the token for each operation

[2017-01-05 15:17] agarwalnikhil commented on #101
@Khaledgarbaya okay thanks. :)

[2017-01-13 12:30] agarwalnikhil commented on #105
@Khaledgarbaya Hi, I have 3 issues regarding this:-

1) I am not able to synchronize the deleted content from source space to destination space, In future, are you planning to add that in this utility?
2) Can we increase the contentful rate limit, getting this error(You have exceeded the rate limit of the Organization this Space belongs to by making too many API requests within a short timespan)
3

[2017-01-13 12:54] Khaledgarbaya commented on #105
@agarwalnikhil
1. I don't think this will be added anytime soon, because it will involve more request to delete a contentType, so this will be a low priprity for us.

2. Unfortunately we can do that, there is `--rate-limt` and `--rate-limit-period` you can adjust them to not hit the rate limit.

3. You can use the space-sync tool as a [library](https://github.com/contentful/contentful-space-sync#u

[2017-01-13 13:19] agarwalnikhil commented on #105
@Khaledgarbaya
2) Can you just give an example of like how to define the time in --rate-limit , how the parameters need to be given for this.
3) I have tried to use this as library as well, but what needs to be passed in 'options'. Is it a dictionary, json file or json object?

spaceSync(options).then((output) => {
  console.log('sync token', output.nextSyncToken)
})

[2017-01-13 13:34] Khaledgarbaya commented on #105
@agarwalnikhil ,

For the rate limits params you can pass them as a command line vars like `contentful-space-sync --rate-limit 5 --rate-limit-period 2000 ....` or having a config file
2)
[code]
and then executing `contentful-space-sync --config config.js`

the `rateLimit` means how many request to make per period of time which you can define it in ms using the `rateLimitPeriod`.

3)
To use a libra

[2017-03-05 20:07] #105 closed

[2017-03-05 20:08] #101 closed

[2017-03-05 20:08] #98 closed

[2017-03-05 20:08] #96 closed